
body {
	margin: 0px;
}

header {
	background-color: rgb(255, 153, 0);
	font-family: Arial;
	padding: 0px;
	margin: 0px;
}
header h1 {
	margin: 0px;
	padding: 10px;
	font-size: 250%;
	text-align: middle;
}

.menu_hor {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: rgb(0, 98, 128);
}
.menu_hor li {
  float: left;
  border-right: 1px solid rgb(255, 153, 0);
}
.menu_hor li a {
  display: block;
  color: black;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}
.menu_hor li:last-child {
  border-right: none;
}

section { 
	width: 73%; 
	float: left;
	margin-left: 10px;	
}
aside {
	width: 20%;
	float: left;
	margin-top: 4px;
}
aside img {
	margin: 10px 0px 5px 55px;
}

article {
	clear: both;
	/*border: dashed gray 1px;*/
	
}
article img{
  float: left;
  width: 100px;
  height: 100px;
  margin: 15px 10px 10px 10px;
}

article p{
	padding-top: 5px;
}

.wrapper{
	max-width: 1024px;
	display: grid;
	grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 1px;
}

.wrapper >*{
    grid-column: col-start / span 12;}


@media (min-width: 500px){

.content{
	grid-column: col-start / span 6;
}
.side{
	grid-column: col-start 7 / span 6;
}

aside img{
	margin-left: 0px;
}

nav ul{
	display: flex;
	}

article img{
	float: top;
}

	footer {
	clear: both;
	background-color: rgb(255, 153, 0);
	margin: 0px;
	margin-top: 8px;
	padding: 5px;
	border-top: 2px solid black;
	font-family: Arial;
	flex-direction: column;
	text-align: center;
}
@media (min-width: 700px){

  .content {
    grid-column: col-start / span 8;
  }
  .side {
    grid-column: col-start 9 / span 4;
  }
    nav ul {
    flex-direction: row;
  }

  footer {
	clear: both;
	background-color: rgb(255, 153, 0)w;
	margin: 0px;
	margin-top: 8px;
	padding: 5px;
	border-top: 2px solid black;
	font-family: Arial;
	text-align: left;
	}
}
}